flask
flask-wtf
flask-sqlalchemy
flask-migrate
flask-login
flask-mail
flask-bootstrap
flask-moment
flask-babel
werkzeug
wtforms
pyjwt
guess-language_spirit
requests
python-dotenv
elasticsearch
gunicorn
pymysql